/* Bottom Nav */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 72px;

  background-color: var(--color-primary);

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 24px 24px 0 0;

  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}


.bottom-nav__item {
  flex: 1;

  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 11px;
  cursor: pointer;
}

.bottom-nav i {
  font-size: 22px;
}

.bottom-nav button.active {
  color: #ffffff;
}