/* Carousel */
.carousel {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-bottom: var(--space-7);

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel__track {
  display: flex;
}

.carousel__item {
  flex: 0 0 100%;
}

.carousel__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel__item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.prev { left: 10px; }
.next { right: 10px; }

.section__carousel {
  position: relative;
}