.product {
  padding: 4rem 1rem 6rem;
  max-width: 480px;
  margin: 0 auto;
}

.product h1, h2, h3 {
    margin-bottom: 0.3rem;
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.product p {
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.product__main {
  width: calc(100% + (var(--page-padding) * 2));
  margin-left: calc(var(--page-padding) * -1);
  margin-right: calc(var(--page-padding) * -1);
}

.product__main img {
  width: 100%;
  height: auto;
  display: block;

  transition: opacity .25s ease;
}

.product__gallery {
  text-align: center;
}

.product__thumbs {
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-top: .5rem;
}

.product__thumbs img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: .7;
}

.product__thumbs img.active {
  opacity: 1;
  outline: 1px solid var(--color-primary);
}

.product__info {
  margin-top: 1rem;
}

.product__title {
  font-size: 1.2rem;
  font-weight: 600;
}

.product__meta {
  color: var(--color-text-light);
  font-size: .9rem;
}

.product__colors-wrap {
  position: relative;
  margin: 0 -1rem;
  padding: 0 1rem; 
}

.product__colors-wrap::before,
.product__colors-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 32px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
}

.product__colors-wrap::before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255,255,255,0),
    rgba(255,255,255,1)
  );
}

.product__colors-wrap::after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0),
    rgba(255,255,255,1)
  );
}

.product__colors-wrap.show-left::before {
  opacity: 1;
}

.product__colors-wrap.show-right::after {
  opacity: 1;
}

.product__colors {
  display: flex;
  gap: .4rem;
  margin: 1rem 0;

  overflow-x: auto;            
  padding-bottom: .3rem;       
  scroll-snap-type: x mandatory;

  margin-right: -1rem;
  padding-right: 1rem;
}

.product__colors span {
  min-width: 28px;
  height: 28px;
  aspect-ratio: 1 / 1;
  flex:  0 0 auto;

  border-radius: 6px;
  border: 1px solid #ddd;

  scroll-snap-align: start; /* ponto de encaixe */
  cursor: pointer;
}

.product__colors::-webkit-scrollbar {
  display: none;
}

.product__colors {
  scrollbar-width: none;
}

.btn-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background: #4CAF50;
  color: white;
  padding: .9rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  margin: 2rem 0;
}

.product__description {
  margin-top: 1.5rem;
  text-align: justify;
}

.product__paragraph {
    margin-top: 1rem;
}

.text-boletim {
  margin-top: 1rem;
}

.btn-doc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  background: #9bcaf8;
  color: #333;

  padding: .8rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;

  margin-top: .8rem;
}
