.welcome {
  position: relative;
  width: 100%;
  min-height: 100svh;
  background: #5f5f5f;
}

.slider {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.welcome__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.274),
    rgba(0, 0, 0, 0.068)
  );
}

.welcome__content {
  height: 100vh;
  position: relative;
  padding: 2rem 1.5rem 80px;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  z-index: 1;
  line-height: 1.2;
  font-family: 'Cormorant Garamond', serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.light {
  
  font-weight: 300;
}

.highlight {
  font-style: normal;
  font-weight: 600;
  color: #ffffff;

}


.btn-glass {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;

  color: #eafff6;
  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 999px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  cursor: pointer;
  transition: all .3s ease;
}

.btn-glass:hover {
  background: rgba(255,255,255,0.15);
}
